@media(max-width: 752px){
    #meet-list{
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}
@media(max-width: 550px){
    #meet-list{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}